<div class="container fluid">
     <div class="block">
          <div class="blockImg">
               <div class="dFlex">
                    <img class="image cen" src="assets\img\cenzor.png" alt="cenzor">
                    <button [routerLink]="[ '/works ']"  [routerLink]="[ '/works/censor' ]" routerLinkActive="active" class="btn btn-success toHW">details</button>
               </div>
          </div>
     </div>
     <div class="block">
          <div class="blockImg">
               <div class="dFlex">
                    <img class="image" src="assets\img\userlist.png" alt="userlist">
                    <button [routerLink]="[ '/works ']" [routerLink]="[ 'works/userslist' ]" routerLinkActive="active" class="btn btn-success toHW">details</button>
               </div>
          </div>
     </div>
     <div class="block">
          <div class="blockImg">
               <div class="dFlex">
                    <img class="image" src="assets\img\tasklist.png" alt="tasklist">
                    <button [routerLink]="[ '/works ']" [routerLink]="[ 'works/tasklist' ]" routerLinkActive="active" class="btn btn-success toHW">details</button>
               </div>
          </div>
     </div>
     <div class="block">
          <div class="blockImg">
               <div class="dFlex">
                    <img class="image" src="assets\img\phonebook.png" alt="phonebook">
                    <button [routerLink]="[ '/works ']" [routerLink]="[ 'works/phonebook' ]" routerLinkActive="active" class="btn btn-success toHW">details</button>

               </div>
          </div>
     </div>
</div>