<div class="nav">
     <div class="child">
          <span>Last works >>></span>
          <a [routerLink]="[ 'works/cenzor' ]" routerLinkActive="active" class="toHW">cenzor </a> 
          <a [routerLink]="[ 'works/userslist' ]" routerLinkActive="active" class="toHW">userslist </a>
          <a [routerLink]="[ 'works/tasklist' ]" routerLinkActive="active" class="toHW">tasklist </a>
          <a [routerLink]="[ 'works/phonebook' ]" routerLinkActive="active" class="toHW">phonebook </a>
     </div>
     <div class="child"></div>
</div>